<div class="container-fluid">
  <div class="row">
    <div class="col-4 border-end" style="height: 100vh; overflow-y: auto;">
      <h5 class="p-3">Emails</h5>
      <ul class="list-group">
        <li *ngFor="let email of emails" class="list-group-item" (click)="selectEmail(email)" [class.active]="email === selectedEmail">
          <strong>{{ email.subject }}</strong><br>
          <small>From: {{ email.from }}</small>
        </li>
      </ul>
    </div>

    <div class="col-8 p-4">
      <ng-container *ngIf="selectedEmail; else noEmailSelected">
        <h5>{{ selectedEmail.subject }}</h5>
        <p><strong>From:</strong> {{ selectedEmail.from }}</p>
        <p><strong>To:</strong> {{ selectedEmail.to }}</p>
        <p>{{ selectedEmail.body }}</p>
        <div *ngIf="selectedEmail.attachments.length > 0">
          <h6>Attachments</h6>
          <ul>
            <li *ngFor="let attachment of selectedEmail.attachments">
              {{ attachment.name }} ({{ attachment.type }})
            </li>
          </ul>
        </div>
      </ng-container>
      <ng-template #noEmailSelected>
        <p>Select an email to view details.</p>
      </ng-template>
    </div>
  </div>
</div>
